
$MOBILE-MAX-W: 640px;
$TABLET-MIN-PORTRAIT-W: 768px;

// COLORS
$bg-dark-soft: #1a1b26;
$bg-dark-lighter: #24283b;
$text-primary: #c0caf5;
$text-secondary: #7982a9;
$border-color: #414868;
$hover-color: #565f89;

.registration {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    height: 100%;
    @media (max-width: $MOBILE-MAX-W) {
      grid-template-columns: 1fr;
    }
  }

  // -CONTAINER END

  &-left {
    background-color: $bg-dark-soft;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;

    &__logo {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__testimonial {
      p {
        color: $text-primary;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 1rem;
      }

      span {
        color: $text-secondary;
      }
    }

    @media (max-width: $MOBILE-MAX-W) {
      display: none;
    }
  }

  // -LEFT END

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-dark-lighter;
    padding: 1.5rem;

    @media (min-width: $TABLET-MIN-PORTRAIT-W) {
      padding: 3rem;
    }
  }

  // -RIGHT END

  &-formContainer {
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    width: 100%;
    max-width: 24rem;
    text-align: center;
    color: white;

    &__input {
      max-width: 95%;
      background-color: rgba($bg-dark-soft, 0.5);
      border: 1px solid $border-color;
      border-radius: 0.375rem;
      color: $text-primary;
      margin-bottom: 1rem;
      transition: all 0.3s ease;
      &--animate {
        animation: slideDown 0.3s ease-out;
      }
      &:focus {
        outline: none;
        border-color: $hover-color;
        box-shadow: 0 0 0 2px rgba($hover-color, 0.2);
      }
    }

    &__sign-in {
      margin-left: 0.25rem;
      padding: 0.1rem 0.4rem;
      background-color: rgba($bg-dark-soft, 0.5);

    }

    &__submit,
    &__sso {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      margin-top: 1rem;
      padding: 0.75rem;
      background-color: white;
      color: black;
      border-radius: 0.375rem;
      font-weight: 500;
      transition: all 0.2s ease;

      &:hover {
        background-color: rgb(244, 244, 245);
      }
    }

    &__outlook {
      width: 50%;
      background-color: white;
      padding: 0.5rem;
      color: black;
      align-self: center;
    }
    &__icon {
      margin-right: 0.25rem;
    }

    h2 {
      margin-bottom: 0.5rem;
      color: white;
    }

    p {
      margin-bottom: 1.5rem;
      color: white;
    }

    &__header {
      text-align: center;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 1.875rem;
      font-weight: 600;
      letter-spacing: -0.025em;
      color: white;
      margin-bottom: 0.5rem;
    }

    &__subtitle {
      font-size: 1rem;
      color: $text-primary;
    }

    &__divider {
      position: relative;
      margin: 0.5rem 0;

      &-line {
        display: flex;
        align-items: center;
      }

      &-border {
        width: 100%;
        border-top: 1px solid $border-color;
      }

      &-text {
        position: relative;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 0.75rem;
        background-color: $bg-dark-lighter;
        margin-top: 0.2rem;

        span {
          font-size: 0.8rem;
          padding-top: 0.75rem;
          color: $text-primary;
        }
      }
      // -TEXT END
    }
  }
}

