# frontend
frontend/node_modules

# backend
**/**/__pycache__
backend/api/__pychache__
backend/api/migrations/__pycache__
backend/config/__pycache__
backend/venv
backend/debug_latex
backend/media/forms/*
backend/media/signatures/*
backend/debug_latex

# env files
database/scripts/.env
backend/.env
frontend/.env

# other
start_frontend.bat
start_backend.bat


